 </main>
        
        <footer>
            <hr>
            CST336 Internet Programming. 2020&copy; Alfaro<br />
            <strong>Disclaimer:</strong>  <br />
            This site is used for academic purposes only. <br />
            <img src="/img/CSUMB-Logo.png" width="50" height="50" alt="CSUMB Logo"/>
        </footer>

    </body>

</html>