<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>The myDoom Virus</title> 
        <link href="/css/styles.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    </head>
    
    <body>
        
        <nav>
            
            <a href="/"> Home</a>
            <a href="/facts"> Facts</a>
            <a href="/contents"> Contents</a>
            <a href="/variants"> Variants</a>
        </nav>