<%- include('partials/header.ejs') %>
        
        <header>
            <h1> Contents of the Email </h1>
        </header>
        <br /><br />
        <main>
            <figure id="me2"> 
            <img src="/img/my_doom4.jpg" width="250" height="200" alt="Virus Image"/>
            </figure>
            
            <ul id="firstList">
                <p>Some of the 8 subject lines the user could receive from the fake address.</p>
                <li>test</li>
                <li>hi</li>
                <li>hello</li>
                <li>Mail Delivery System</li>
                <li>Mail Transaction Failed</li>
            </ul>
            
            <ul id="secondList">
                <p>Some file extensions to trick the user into thinking it was real documents.</p>
                <li>document</li>
                <li>readme</li>
                <li>doc</li>
                <li>text</li>
                <li>message</li>
            </ul>
            
<%- include('partials/footer.ejs') %>
