<%- include('partials/header.ejs') %>
       
        <header>
            <h1> myDoom Virus </h1>
        </header>
        <br /><br />
        <main>
            <figure id="me2"> 
            <img src="/img/mydoom-virus.jpg" width="325" height="200" alt="Virus Image"/>
            </figure>
              
            <div id="newText">
                
                <p>The myDoom virus was a computer virus that only affected Microsoft based Computers.</p>
                <p>APPLE FOR THE WIN !!!</p>
                <p>This virus was sent through an email and the virus downloaded as soon as the email was opened.</p>
                <p>This virus can also be identified as W32.MyDoom@mm, Novag, Mimail.R and Shimgapi.</p>
            </div>
          
           
            
<%- include('partials/footer.ejs') %>
