<%- include('partials/header.ejs') %>

        <header>
            <h1> Different Variants </h1>
        </header>
        <br />
        <main>
            <figure id="me2"> 
            <img src="/img/my_doom3.jpg" width="350" height="200" alt="Virus Image"/> 
            </figure>
            <div id="newText">
                
                <p>The first appearance ever by this virus was on January 26, 2004.
                It went on for a few months in the midst of it being "shut down", back doors were left open.</p>
                <p>It made a re-appearance in the July 2009 cyber affecting the United States and South Korea.</p><br />
                <p>This virus was the most devastating virus with damages up to 38 billion dollars in damages.</p>
                <p>The virus can be transmitted through email and it comes with a zip file with two folders that 
                the user would accidentally download due to the context of the email saying it was important.</p>
            </div>
            
<%- include('partials/footer.ejs') %>
